<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>messageSGD - Labeling System</title>
        <meta name="description" content="messageSGD - Labeling System"/>

        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Loading Bootstrap -->
        <link href="{{ url_for('static',filename='flat/dist/css/vendor/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="{{ url_for('static',filename='flat/dist/css/flat-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='flat/docs/assets/css/demo.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static',filename='flat/dist/favicon.ico') }}">
    </head>
    <body>
        <div class="container">     
            <div align="center">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-6 col-md-4">Dialogue ID</th>
                            <!--<th scope="col" class="col-6 col-md-4">Rewrite Time</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td class="align-middle"><a href="http://project.widm.csie.ncu.edu.tw:3171/{{item.d_id}}">{{item.d_id}}</a></td>
                            <!--<td class="align-middle">{{item.rewrite_time}}</td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </body>
</html>