<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>messageSGD - Labeling System</title>
        <meta name="description" content="messageSGD - Labeling System"/>

        <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Loading Bootstrap -->
        <link href="{{ url_for('static',filename='flat/dist/css/vendor/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Loading Flat UI -->
        <link href="{{ url_for('static',filename='flat/dist/css/flat-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='flat/docs/assets/css/demo.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static',filename='flat/dist/favicon.ico') }}">
    </head>
    <body>
        <div class="container">     
            <div align="center">
                <form method=post action="/" name="login_form">
                    <input type="hidden" id="std_id" name="std_id">
                    <input type="submit" value="完成改寫" class="btn btn-block btn-lg btn-primary" />
                </form>
            </div>            
        </div>
    </body>
    <script type="text/javascript">
        window.onload=function(){
            var std_id = prompt('輸入你的學號:');
            document.getElementById("std_id").value = std_id;
            document.forms["login_form"].submit();
        }        
    </script>
</html>